.jjk {
  display: inline-block;
  width: 15vw; 
  box-shadow:
    0 0 20px 10px #ff0000,
    0 0 40px 20px #ff0000,
    inset 0 0 15px 5px #ff0000;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}


.jjk:hover {
  box-shadow:
    0 0 30px 15px #ff0000,
    0 0 60px 30px #ff0000,
    inset 0 0 20px 8px #ff0000;
}

#navbar {
	left: 0;
  background-image: url("https://static.wikia.nocookie.net/jujutsu-kaisen/images/c/c6/Geto_explaining_the_best_chance_to_counter_Gojo_%28Anime%29.png/revision/latest/scale-to-width-down/1000?cb=20201108042057");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 185%; 
  background-position: 50% 28%;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;           
  justify-content: center; 
  align-items: strecth;   
  transition: top 0.2s;
}

#navbar a {
  display: flex;
  align-items: center;
   justify-content: center;
  color: #f2f2f2;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
    position: relative;
	
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  text-align: center;
  
}

#navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
 background-color: #ddd;
  opacity: 0.5;
  color: black;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;         /* juste sous la navbar */
  left: 0;           /* aligné à gauche de la navbar */
  width: 100%;       /* 🔹 prend toute la largeur du parent (navbar) */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  /* Image de fond */
  background-image: url("https://a.storyblok.com/f/178900/1460x821/0e3be6976c/hells-paradise-season-2.jpg/m/1200x0/filters:quality(95)format(webp)");
  background-size: cover ;       /* 🔹 l’image prend toute la boîte */
  background-position: 50% 50%;  /* 🔹 centrée */
  background-repeat: no-repeat; /* 🔹 pas de répétition */
}

.dropdown-content a {
  float: none;
  color: #800a7c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.caca {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

.video-container iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;   
  height: 100vh;  
  border: none;
}

/* bloque les clics */
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: all; 
  z-index: 9999;
}


